# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.
 
 ***Objectives:***
 + Create a Jupyter Nootebook
 + List down Popular IDE's used by Data Scientists
 + List down Popular Data Science Libraries
 + Practice different Syntx used in Jupyter Nootebook
 + Finally share Jupyter Nootbook thorough your Github repos.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
+ Pandas
+ Numpy
+ Scikit-learn
+ Apache Spark
+ Tensor Flow

| Data Science Tools |
| ------------------ |
| Jupyter lab |
| RStudio |
| Appache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Muhammad Taimoor Khan